<div class="post">
  <p class="post-info">
    <span class="post-date"><%= post.created_at.strftime('%B %e, %Y') %></span>
    <% post.categories.each do |category| %>
      <span class="post-categories">
        <a rel="category tag" href="<%= $config.baseUrl %>/category-<%= category.name %>.html"><%= category.name %></a>
      </span>
    <% end %>
  </p>
  <div class="post-body">
    <%= post.body %>
  </div>
</div>
