<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
-->
<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<link type="text/css" href="css/fluid_grid.css" rel="stylesheet"/>
	<link type="text/css" href="css/style.css" rel="stylesheet"/>
	<link type="text/css" href="css/print.css" rel="stylesheet" media="print"/>
	<title>{title}</title>
</head>

<body>
	<div class="container_16 clearfix">
		<div  id="logo" class="grid_16 clearfix">
		<h1 class="logo">{logo-text}</h1>
		</div>
	</div>
	<div id="header" class="container_16">
		<div id="navbar" class="container_16 clearfix">
			<div class="grid_12">
				<ul id="navigation-menu" class="menu">
{.repeated section menu-items}
					<li class="{class|html-attr-value}">
						<a href="{url|html-attr-value}">{text}</a>
					</li>
{.end}
				</ul>
			</div>

			<div class="grid_4" id="social-nav">
{.section rss}
				<div id="rss-feed">
					<a target="_blank" href="{rss-feed-url}"></a>
				</div>
{.end}

{.section flickr}
				<div id="flickr-profile">
					<a target="_blank" href="http://www.flickr.com/photos/{profile}"></a>
				</div>
{.end}

{.section twitter}
				<div id="twitter-profile">
					<a target="_blank" href="http://www.twitter.com/{profile}"></a>
				</div>
{.end}

{.section linkedin}
				<div id="linkedin-profile">
					<a target="_blank" href="http://www.linkedin.com/in/{profile}"></a>
				</div>
{.end}
			</div>
		</div>
	</div>


	<div class="spacer container_16 clearfix"></div>


	<div id="content" class="clearfix container_16">
		<div class="grid_12">
		<div id="main">
{.section main}
			<h2>{title}</h2>
			{content}
{.end}
		</div>
		</div>
		<div class="grid_4 clearfix">
			<div id="sidebar" class="clearfix">
{.repeated section sidebar}
				<h3>{menu-title}</h3>
	{.repeated section elements}
				<a href="{url|html-attr-value}" class="indented">{text}</a>
	{.end}
{.end}
			</div>
		</div>
	</div>

	<div class="spacer container_16 clearfix"></div>
	<div id="footer" class="container_16 clearfix">
		<div class="grid_16">
			Copyright (C) 2011, Alex Hornung
		</div>
	</div>
</body>

</html>
