<div class="profile-header vcard contact">
	<div id="profile-picture" style="display:block" class="image">
		<img height="80" width="80" alt="Alex Hornung" class="photo" src="{pictureUrl|html-attr-value}">
	</div>
	<h1>{firstName} {lastName}</h1>
	<p style="display:block" class="title">
		{headline}
	</p>
	<dl class="demographic-info adr" id="headline">
{.section location}
		<dt>Location</dt>
		<dd class="locality">{name}</dd>
{.end}
		<dt>Industry</dt>
		<dd class="industry">{industry}</dd>
	</dl>
	<dl id="overview">
{.section threeCurrentPositions}
		<dt style="display:block" class="summary-current"> Current</dt>
		<dd style="display:block" class="summary-current">
			<ul class="current">
	{.repeated section values}
			<li>{title}
		{.section company}
			<span class="at">at </span>
			<span class="org summary">{name}</span>
		{.end}
	{.end}
			</li>

			</ul>
		</dd>
{.end}
{.section educations}
		<dt style="display:block" class="summary-education"> Education</dt>
		<dd style="display:block" class="summary-education">
			<ul>
	{.repeated section values}
			<li>{schoolName}</li>
	{.end}
{.end}
			</ul>
		</dd>
	</dl>
</div>

<h2>Summary</h2>
{summary}

<h2>Specialties</h2>
{specialties}

{.section positions}
<div id="profile-experience">
	<h2>Experience</h2>

	{.repeated section values}

	<div style="display:block" class="position  first experience vevent vcard current-position">
		<a href="#name" class="include"></a>
		<div class="postitle">
			<h3 class="position-title anet">
				<span class="title">{title}</span>
			</h3>
		{.section company}
			<h4><strong>
				<span class="org summary">{name}</span>
			</strong></h4>
		{.end}
		</div>
		{.section company}
		<p class="orgstats organization-details">{industry}</p>
		{.end}
		<p class="period">{period}</p>
		<p class="description">{summary}</p>
	</div>
	{.end}
</div>
{.end}

{.section languages}
<div id="profile-languages">
	<h2> Languages</h2>
	<ul class="competencies">
	{.repeated section values}
		{.section language}
		<li class="competency language"><h3>{name}</h3></li>
		{.end}
	{.end}
	</ul>
</div>
{.end}


{.section educations}
<div id="profile-education">
	<h2> Education</h2>
	
	{.repeated section values}

	<div class="position  first education vevent vcard">
		<h3 class="summary fn org">{schoolName}</h3>
		<h4>
			<span class="degree">{degree}</span>, <span class="major"> {fieldOfStudy} </span>
		</h4>
		<p class=" desc"></p>
	</div>
	{.end}
</div>
{.end}
